/* google font import*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #FF5400;
    --second-color: #5A5A5D;
}

header,
main {
    margin: 50px 135px;
}

/* nav start */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 16px;
}

.logo-text {
    font-size: 2.25rem;
    font-weight: 800;
}

.logo-special {
    color: var(--primary-color);
}

.nav-item a {
    font-size: 1.125rem;
    color: var(--second-color);
    text-decoration: none;
    margin-right: 45px;
}

.menubar {
    display: none;
    text-align: center;
}

/* nav end */

/* banner section start */
.banner-section {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 38.png) no-repeat center;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 600px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-textbox {
    padding: 80px 185px;
}

.banner-title {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    margin: 24px;
}

.banner-description {
    margin-bottom: 48px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 768px;
    height: 52px;
    padding: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input-field {
    width: auto;
}

.input-field input,
select {
    width: 174px;
    padding: 16px 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: var(--second-color);

}

.btn-primary {
    padding: 16px 35px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
    border: none;
}

.btn-primary i {
    margin-right: 8px;
}

/* banner section end */

/* tour section start */
.tour-section {
    margin: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.tour-textbox {
    width: 50%;
}

.tour-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.tour-description {
    color: var(--second-color);
    margin-bottom: 24px;
}

.lists {
    margin-bottom: 24px;
}

.lists li {
    margin-bottom: 24px;
    margin-left: 20px;
    color: var(--second-color);
}

.tour-section img {
    width: 50%;
}

/* tour section end */

/* destination section start */
.destination-section {
    text-align: center;
    margin-bottom: 100px;
}

.des-title {
    margin-bottom: 24px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.des-description {
    color: var(--second-color);
    margin-bottom: 48px;
}

.destination-grid img {
    margin-bottom: 24px;
    border-radius: 16px;
}

.img-row {
    display: flex;
    gap: 24px;
}

#img-1 {
    width: 50%;
}

#img-2 {
    width: 50%;
}

#img-3 {
    width: 40%;
}

#img-4 {
    width: 50%;
}

#img-5 {
    width: 30%;
}

#img-6 {
    width: 40%;
}

#img-7 {
    width: 60%;
}

/* destination section end */

/* why choose us section start */
.choose-section {
    text-align: center;
    margin-bottom: 100px;
}

.choose-title {
    margin-bottom: 24px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.choose-description {
    color: var(--second-color);
    margin-bottom: 48px;
}

.choose-cards-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

.row-card-item-1 {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.row-card-item-2 {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-cards-single {
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-card-item {
    width: 720px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.card-item {
    padding: 70px 60px;
    text-align: start;
}

.card-item img {
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
}

.card-item h2 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 800;
}

.card-item p {
    color: var(--second-color);
}

/* why choose us section end */

/* get lost section start */
.getlost-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.getlost-textbox {
    width: 50%;
}

.getlost-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    padding-right: 85px;
}

.getlost-description {
    color: var(--second-color);
    margin-bottom: 24px;
}

.getlost-lists {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
}

.getlost-img {
    width: 50%;
}

.getlost-img img {
    width: 100%;
}

.getlost-img h2 {
    color: #fff;
    text-align: center;
    position: relative;
    top: 330px;
    font-size: 30px;
}

/* get lost section end */

/* newsletter section start */
.newsletter-section {
    display: flex;
    margin: 100px 0px;
    gap: 24px;
}

.newsletter-box {
    width: 40%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.newsletter-box h1 {
    color: #131318;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}

.newsletter-box p {
    color: var(--second-color);
    font-size: 20px;
    padding-bottom: 34px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    margin-bottom: 48px;
}

.input-box {
    width: 100%;
}

.input-box input[type="text"],
input[type="email"] {
    width: 90%;
    color: var(--second-color);
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    outline: none;
    padding: 16px 20px;
    margin-bottom: 20px;
}

.input-box input[type="button"] {
    width: 96%;
    margin-top: 8px;
    font-size: 20px;
}

.newsletter-imgbox {
    width: 55%;
    position: relative;
}

.newsletter-imgbox img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

.discount-card {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    left: 554px;
}

.discount-card p {
    font-size: 24px;
}

.discount-card h1 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

/* newsletter section end */

/* footer section start */
footer {
    width: 100%;
    height: 500px;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    text-align: center;
    padding: 0px 500px;
}

.footer-description {
    color: var(--second-color);
    margin-top: 15px;
    margin-bottom: 35px;
}

.social-icon {
    margin-bottom: 50px;
}

.social-icon a {
    margin-right: 20px;
    color: #131318;
    font-size: 24px
}

.footer-content hr {
    color: rgba(19, 19, 24, 0.10);
}

.copyright {
    margin-top: 50px;
    color: var(--second-color);
}

/* footer section end */







@media screen and (max-width: 576px) {

    header,
    main {
        margin: 20px;
    }

    nav {
        margin-bottom: 16px;
    }

    .logo img {
        width: 28.724px;
        height: 33.516px;
        margin-right: 10px;
    }

    .logo-text {
        font-size: 1.3rem;
    }

    .nav-item {
        display: none;
    }

    .menubar {
        display: block;
    }

    .banner-section {
        width: 335px;
        height: 530px;
        display: block;
    }

    .banner-textbox {
        padding: 20px 24px;
    }

    .banner-title {
        font-size: 1.37rem;
    }

    .banner-description {
        margin: 0px;
    }

    .form {
        flex-direction: column;
        width: 255px;
        margin: 0 auto;
        height: 256px;
        padding: 16px;
        gap: 20px;
    }

    .input-field {
        width: 100%;
        position: relative;
    }

    .input-field input {
        width: 235px;
        padding: 16px 10px;
    }

    .input-field select,
    button {
        width: 255px;
        padding: 16px 10px;
    }

    .tour-section {
        flex-direction: column;
        margin: 30px 0px;
    }

    .tour-textbox {
        width: 100%;
    }

    .tour-section img {
        width: 100%;
    }

    .des-title {
        font-size: 24px;
    }

    #img-1,
    #img-2,
    #img-3,
    #img-4,
    #img-5,
    #img-6,
    #img-7 {
        width: 100%;
        height: 176px;
    }

    #img-row-1,
    #img-row-2,
    #img-row-3 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .destination-section {
        margin-bottom: 20px;
    }

    .choose-title {
        font-size: 24px;
    }

    .choose-cards-row {
        flex-direction: column;
    }

    .choose-cards-row>div {
        width: auto;
    }

    .card-item {
        padding: 20px;
    }

    .getlost-section {
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        gap: 0;
    }

    .getlost-textbox {
        width: auto;
    }

    .getlost-img {
        width: auto;
    }

    .getlost-img h2 {
        top: 140px;
        font-size: 20px;
    }

    .newsletter-section {
        flex-direction: column;
        margin-top: 40px;
    }

    .newsletter-box {
        width: 86%;
        padding: 20px;
    }

    .newsletter-box h1 {
        font-size: 28px;
    }

    .newsletter-box p {
        font-size: 16px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .input-box input[type="button"] {
        width: 100%;
    }

    .newsletter-imgbox {
        width: 100%;
    }

    .newsletter-imgbox img {
        width: 100%;
    }

    .discount-card {
        width: 200.023px;
        height: 70.268px;
        left: 133px;
        bottom: 33px;
    }

    .discount-card p {
        font-size: 16px;
    }

    .discount-card h1 {
        font-size: 20px;
    }

    footer {
        width: 100%;
        height: auto;
    }
    .footer-content{
        padding: 0px 20px;
    }
    .footer-logo{
        margin-top: 20px;
    }
    .footer-description{
        margin-bottom: 20px;
    }
    .social-icon{
        margin-bottom: 20px;
    }
    .copyright{
        margin: 20px 0px;
    }
}